.contents {
  padding: 1rem;
  display: grid;
  grid-template-columns: 5rem repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1rem;
  justify-content: start;

  .code-item {
    overflow-x: auto;
  }
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32rem);
  justify-content: space-evenly;
  grid-gap: 2rem;
}

.particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;

  // &--1 {
  //   background-image: url(../img/icon1.png);
  // }
  // &--2 {
  //   background-image: url(../img/icon2.png);
  // }
  // &--3 {
  //   background-image: url(../img/icon3.png);
  // }
}
